/*  your css code here. If applicable */
.middle{
	border-collapse:collapse;
	width:100%
}
td{
	border:solid,black,1px;
}
.center{
	text-align:center;
 .right{
		text-align:right;
	}
h1{
	text-align:center;
}